@{
    Layout = "~/Views/Store/_Layout.cshtml";
}

<div class="text-center m-4">
    <h2>Спасибо!</h2>
    <p>Ваш заказ создан</p>
    <a asp-action="Index" asp-controller="Store" class="btn btn-primary">Ок</a>
</div>